@mixin ntext {

    font-family: 'Lato', sans-serif;
    /*n - navigation*/
    font-weight: 400;
    color: #ffffff;
    font-size: calc(10px + 0.137vw);
}

@mixin ttext {
    font-family: 'Lato', sans-serif;
    /*t - title*/
    font-weight: bold;
    color: #777777;
    font-size: calc(10px + 0.137vw);
}

@mixin mtext {
    font-family: 'Lato', sans-serif;
    /*m - main*/
    font-weight: bold;
    color: #777777;
    font-size: calc(11px + 0.3vw);
}

@mixin ftext {
    font-family: 'Lato', sans-serif;
    /*n - functional*/
    font-weight: bold;
    color: #BFBFBF;
    font-size: calc(10px + 0.137vw);
}

@mixin btext {
    font-family: 'Lato', sans-serif;
    /*b - big-text*/
    font-weight: 900;
    color: #777777;
    font-size: calc(10px + 0.137vw);
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover {
    background-color: #2bff002c;
    transition: 0.4s;
}

button:active {
    background-color: #3cff0054;
}